<header>
	<h1>Results for <%= @first.upcase %> and <%= @second.upcase %></h1>
</header>
<div id="main" role="main">

  <div id="results">
	      <div class="wireline">
          <iframe src="img/network.svg" width="100" height="100" class="svg"></iframe>
          <h3>Wireline Providers</h3>
          <h3><%= @first.capitalize %></h3>
          <table>
            <tr>
              <th>Provider</th>
              <th>Max Advertised Download Speed</th>
              <th>Max Advertised Upload Speed</th>
            </tr>
	        <% @wireline1.results.wireline_services.each do |x| %>
            <tr>
              <td><%= x.provider_name %></td>
              <td><%= x.technologies[0].maximum_advertised_download_speed %></td>
              <td><%= x.technologies[0].maximum_advertised_upload_speed %></td>
            </tr>
	        <% end %>
        </table>
          <h3><%= @second.capitalize %></h3>
          <table>
            <tr>
              <th>Provider</th>
              <th>Max Advertised Download Speed</th>
              <th>Max Advertised Upload Speed</th>
            </tr>
            <% @wireline2.results.wireline_services.each do |x| %>
              <tr>
                <td><%= x.provider_name %></td>
                <td><%= x.technologies[0].maximum_advertised_download_speed %></td>
                <td><%= x.technologies[0].maximum_advertised_upload_speed %></td>
              </tr>
             <% end %>
           </table>
	      </div>
	      <div class="wireless">
          <iframe src="img/wireless.svg" width="100" height="100" class="svg"></iframe>
	         <h3>Wireless Providers</h3>
           <h3><%= @first.capitalize %></h3>
           <table>
             <tr>
               <th>Provider</th>
               <th>Max Advertised Download Speed</th>
               <th>Max Advertised Upload Speed</th>
             </tr>
             <% @wireless1.results.wireless_services.each do |x| %>
               <tr>
                 <td><%= x.provider_name %></td>
                 <td><%= x.technologies[0].maximum_advertised_download_speed %></td>
                 <td><%= x.technologies[0].maximum_advertised_upload_speed %></td>
               </tr>
             <% end %>
           </table>
          <h3><%= @second.capitalize %></h3>
          <table>
            <tr>
              <th>Provider</th>
              <th>Max Advertised Download Speed</th>
              <th>Max Advertised Upload Speed</th>
            </tr>
            <% @wireless2.results.wireless_services.each do |x| %>
              <tr>
                <td><%= x.provider_name %></td>
                <td><%= x.technologies[0].maximum_advertised_download_speed %></td>
                <td><%= x.technologies[0].maximum_advertised_upload_speed %></td>
              </tr>
            <% end %>
          </table>
	      </div>
	    </div>

    </div>
